@charset "utf-8";
/* CSS Document */

body, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin:0;
    padding:0;
    border:0;
}

/* Change colors when scheme is picked */
.PrismicEdge {
    background-color:darkturquoise;
    width: 100%;
}

header {
    background-color: aquamarine;
}

.Mainbody {
    background-color: white;
}

.displaybanner {
    
}

.displayimage {
    width:100%;
    height: auto;
}

.icon {
    width: 38px;
    height: auto;
}

footer {
    background-color:deepskyblue;
}